#otsikko {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}
 body {
    background-image: url('/images/frontpage_background.jpg');
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: #777;
    line-height: 1.8;
  }
#myNavbar {
    background-color: #000000cb;
}
#navstyle {
    list-style-type: none !important;
}
#logotxt {
    margin: auto;
    margin-top: 55px;
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    margin-bottom: 20px;
}
#intro {
    margin: auto;
    background-image: url('/images/old_paper.png');
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
    color: black;
    margin-bottom: 100px;
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    padding: 90px;
}
footer {
    margin-bottom: 0%;
    background-color: #000000cb;
    color: whitesmoke;
    padding: 5px;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
}
