body {
  background-image: url('/images/guestbook_background.jpg');
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: #777;
  line-height: 1.8;
}
#myNavbar {
  background-color: #000000cb;
}
#navstyle {
  list-style-type: none !important;
}
#header {
  float: left;
  margin-top: 15px;
}
#tableMsg {
  padding: 20px;
  margin-bottom: 20px;
}
  /* Määritellään tyyli napille jolla pääsee takaisin sivun alkuun  */
#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(255, 174, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
/* Kursorin ollessa napin päällä, vaihdetaan napin väriä */
#backToTopBtn:hover {
  background-color: rgb(145, 42, 180);
}
footer {
  margin-bottom: 0%;
  background-color: #000000cb;
  color: whitesmoke;
  padding: 50px;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}
@media screen and (min-width: 430px) {
  table {
      width:40%;
      min-width: 400px;
      margin: auto;
      margin-top: 4em;
      margin-bottom: 30px;
  }
}