body {
  background-image: url('/images/guestbook_background.jpg');
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: #777;
  line-height: 1.8;
}
#myNavbar {
  background-color: #000000cb;
}
#navstyle {
  list-style-type: none !important;
}
#header {
  float: left;
  margin-top: 15px;
}
#tableMsg {
  padding: 20px;
  margin-bottom: 400px;
}
footer {
  margin-bottom: 0%;
  background-color: #000000cb;
  color: whitesmoke;
  padding: 5px;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 430px) {
  table {
      width:40%;
      min-width: 400px;
      margin: auto;
      margin-top: 4em;
      margin-bottom: 85px;
  }
}