body {
    background-image: url('/images/newmessage_background.jpg');
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: #777;
    line-height: 1.8;
  }
  #myNavbar {
    background-color: #000000cb;
}
#navstyle {
    list-style-type: none !important;
}
#new_message {
    background-color: #dddddd;
    width: 70%; 
}
fieldset {
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px #ccc;
    border-radius: 6px;
    min-width: 200px;
    background-color: aliceblue;
    box-shadow: 0px 10px 10px  rgba(8, 34, 75, 0.392);
}
label {
    display: block;
    margin-top: 1em;
}
label:first-of-type {
    margin-top: 0;
}
input {
    padding: .5em;
    border: solid 1px;
}
textarea {
    min-height: 8em;
    min-width: 100%;
    padding: .5em;
    border: solid 1px;
}
/*tyylit nappuloille*/
#tyhjennä {
    float: right;
    padding: 5px;
    border: solid 2px;
    border-radius: 3px;
  }
  #btn {
    float: right;
    padding: 5px;
    border: solid 2px;
    border-radius: 3px;
    margin-left: 5px;
    background-color: rgb(182, 240, 240);
  }
  #tyhjennä:hover {
    background-color: #f0064d; /* Green */
    color: white;
  }
  #btn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
footer {
    margin-bottom: 0%;
    background-color: #000000cb;
    color: whitesmoke;
    padding: 5px;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
}
@media screen and (min-width: 430px) {
    fieldset {
        width:40%;
        min-width: 420px;
        margin: auto;
        margin-top: 4em;
        margin-bottom: 30px;
    }
  }
    


